/* Este arquivo deve ficar na pasta raiz */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* table{
  border-radius: 10px;
} */
/* 
td{
  width: 100px;
  height: 100px;
  font-size: 80px;
  background-color: #21e221; 
  margin-top: 100px;
  transition: 0.4s;
  align-items: center;
  color: rgb(0, 0, 0);
}

td:hover {
  cursor: pointer;
  background-color: gray;
} */

/* #ter{
  background-color: aqua;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
